<% include ./partials/head %>

  <form class="create-poll-form" action="index.html" method="post" id="create-poll-form">
    <input type="text" name="title" value="" placeholder="Title">
  </form>
  <button id="btn-create-poll" type="button" class="btn-lg btn-success">
    Create Poll
  </button>

<% include ./partials/footer %>
