<% include ./partials/head %>

  <div class="sign-in__wrapper">
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Your Username" class="sign-in__element"> <br>
    <input type="text" name="password" placeholder="Your Password" class="sign-in__element"> <br>
    <button type="submit" id="login-btn" class="btn btn-success sign-in__element">Sign In</button>
  </form>
  <div class="sign-in__wrapper">

<% include ./partials/footer %>
